%div
  .text-center.pt-40.pb-40
    %h1.text-2xl LINE_clone_appへようこそ
  .text-center.h-18.py-6
    %a.bg-green-500.font-semibold.text-white.py-4.px-40.rounded ログイン
  .text-center.h-18.py-6
    %a.border.font-semibold.py-4.px-40.rounded{:href => "/users/new"} 新規登録
