%div
  .text-center.pt-40.pb-40
    %h1.text-2xl LINE_clone_appへようこそ
  .text-center.h-18.py-6
    = link_to 'ログイン', login_path, class: 'bg-green-500 text-white rounded font-semibold py-4 px-40'
  .text-center.h-18.py-6
    = link_to '新規登録', new_user_path, class: 'border rounded font-semibold py-4 px-40'
  .text-center.h-18.py-6
    = link_to 'グループ作成', new_group_path, class: 'bg-blue-500 text-white rounded font-semibold py-4 px-40'
  .text-center.h-18.py-6
    = link_to 'グループ一覧', groups_path, class: 'bg-blue-500 text-white rounded font-semibold py-4 px-40'
