<div>
  <div class="text-center pt-40 pb-40">
    <h1 class="text-2xl">LINE_clone_appへようこそ</h1>
  </div>
  <div class="text-center h-18 py-6">
    <a class="bg-green-500 font-semibold text-white py-4 px-40 rounded">ログイン</a>
  </div>
  <div class="text-center h-18 py-6">
    <a href='/users/new' class="border font-semibold py-4 px-40 rounded">新規登録</a>
  </div>
</div>
