<div>
  <div class="text-center pt-40 pb-32">
    <h1 class="text-2xl">ユーザー一覧</h1>
  </div>
  <div class="border w-[400px] ml-auto mr-auto">
    <% @users.each do |user| %>
      <div class="border pl-4">
        <%= user.name %>
      </div>
    <% end %>
  </div>
</div>
