%div
  .text-center.pt-40.pb-32
    %h1.text-2xl ユーザー一覧
  .ml-auto.mr-auto{:class => "w-[400px]"}
    %p 自分
    .border.pl-4
      = @current_user.name
    %p 友達
    - @friends.each do |friend|
      .border.pl-4
        = friend.name
  - if logged_in?
    = link_to 'ログアウト', logout_path, method: :delete
